body, html {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#main {
  padding: 2em;
  width: 1500px;
  padding-bottom: 102px;
  margin: auto;
}

@media (max-width: 1500px) {
  #main {
    width: auto;
    text-align: center;
  }
}

.clear-float {
  clear: both;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1em 0;
  text-align: center;
  background-color: #555;
  color: #fff;
  width: 100%;
}

footer p:first-child {
  color: #f8b9b7;
}

header {
  position: relative;
  padding: .5em 3em;
  background-color: #DDD;
  -webkit-box-shadow: 0 1px 8px 0 rgb(163, 163, 163);
  -moz-box-shadow: 0 1px 8px 0 rgb(163, 163, 163);
  box-shadow: 0 1px 8px 0 rgb(163, 163, 163);
}

header .logo {
  position: absolute;
  height: 50px;
  right: 3em;
  top: 50%;
  transform: translateY(-50%);
}

.nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.kudo {
  display: inline-block;
  box-sizing: border-box;
}