<div class="kudo">
    <div class="header" style="background-color: {{color}}">Kudos para {{para}}</div>
    <div class="divisor"></div>
    <img src="imagenes/art/clippy.png"/>
    <div class="content">
        {{md por}}
        <div class="firma">-- <i>{{autor}}</i></div>
    </div>
    
</kudo>