<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>KudoWall!</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
  <header>
      <img class="logo" src="imagenes/10pines-logo.png"/>
      <div>
        <img src="imagenes/kudowall-logo.png" />
      </div>
  </header>

  <div id="main">
    {{{body}}}
  </div>

  <footer>
    <p>
        <i class="fa fa-heart"></i>
        <i class="fa fa-heart"></i>
        <i class="fa fa-heart"></i>
    </p>
    <p>Especialmente, y con amor para 10Pines</p>
  </footer>
</body>

<script src="javascripts/coloresDeKudos.js"></script>
</html>
