<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>KudoWall!</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <header>
    <h1>KudoWall!</h1>
  </header>

  {{{body}}}

  <footer>
    <p>Especialmente, y con amor para 10Pines</p>
  </footer>
</body>
</html>