<form method="post" action="?_method=PUT">
    <label>Para: </label><input name="para" value="{{kudo.para}}"><br />
    <label>Por: </label><input name="por" value="{{kudo.por}}"><br />
    <label>Autor: </label>{{kudo.autor}}<br />
    <input type="submit" value="Editar">
</form>
<form method="post" action="?_method=DELETE">
    <input type="submit" value="Borrar">
</form>