{{#each kudos}}
<<<<<<< HEAD
  <div class="container">
    {{> kudo this}}
=======
  <div>
    <p>Kudos para {{{para}}} por</p>
    <p>{{{por}}}</p>
    <p>-- {{autor}}</p>
>>>>>>> edicionDeKudos
  </div>
{{/each}}
