doctype html
html
  head
    title KudoWall!
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 KudoWall!
    block content
  footer
    p Especialmente, y con amor para 10Pines