<div class="kudo">
    <div class="header nowrap">Kudos para {{para}}</div>
    <div class="divisor"></div>
    <img src="imagenes/art/{{imagen}}.png"/>
    <div class="content">
        {{md por}}
        <div class="firma">-- <i>{{autor}}</i></div>
    </div>
</div>