body, html {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#main {
  width: 1500px;
  margin: auto;
}

@media (max-width: 1500px) {
  #main {
    width: auto;
    text-align: center;
  }
}

.clear-float {
  clear: both;
}

footer {
  padding: 1em 0;
  text-align: center;
  background-color: #555;
  color: #fff;
  width: 100%;
}

footer p:first-child {
  color: #f8b9b7;
}

header {
  position: relative;
  padding: .5em 3em;
  background-color: #DDD;
  -webkit-box-shadow: 0px 1px 8px 0px rgb(163, 163, 163);
  -moz-box-shadow: 0px 1px 8px 0px rgb(163, 163, 163);
  box-shadow: 0px 1px 8px 0px rgb(163, 163, 163);
}

header .logo {
  position: absolute;
  height: 50px;
  right: 3em;
  top: 50%;
  transform: translateY(-50%);
}

.nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.kudo {
  min-height:450px;
  width:650px;
  background-color: white;
  font-family: 'Indie Flower', cursive;
  font-size: 24px;
  border: 1px solid gray;
  margin: 2em;
  display: inline-block;
  box-sizing: border-box;
}

.kudo .header {
  background-color: red;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  height: 70px;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  line-height:70px;
}

.kudo .divisor{
  margin-top: -5px;
  height:10px;
  width:100%;
  background:url('../imagenes/divisor.png');
}

.kudo .content {
  background:url('../imagenes/renglon.jpg');
  margin: 30px;
  min-height: 315px;
  line-height: 36px;
}

.kudo .firma {
  text-align: right;
}

.kudo img {
  float: right;
  margin: 0.5em;
  max-height: 400px;
  max-width: 250px;
}