files:
  "/etc/awslogs/config/custom_cloudwatch.config" :
    mode: "060606"
    owner: root
    group: root
    content: |
      [server]
      log_group_name=10Pines-kudo-wall
      log_stream_name=`{"Fn::Join":["/", [{ "Ref":"AWSEBEnvironmentName" }, "nodejs"]]}`
      file = /var/log/nodejs/nodejs.log*

      [/var/log/eb-activity.log]
      log_group_name=10Pines-kudo-wall
      log_stream_name=`{"Fn::Join":["/", [{ "Ref":"AWSEBEnvironmentName" }, "eb-activity"]]}`
      file=/var/log/eb-activity.log*

commands:
  01_restart_aws_logs:
    command: "sudo service awslogs restart"
    ignoreErrors: false
